.overall-order-container {
    margin-left: 1em;
}

.overall-order-entry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(76, 64, 51, 0.2);
    border-radius: 0.5em;
    padding-left: 2em;
    padding-top: 1em;
}

.overall-order-image {
    height: 3em;
    width: 3em;
    margin-right: 1em;
}