.add-on-option {
    padding: 8px 16px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
    margin-bottom: 1em;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-on-option:hover {
    background-color: #555;
}

.add-on-option.selected {
    background-color: #6f4e37;
    border-color: #8b5a42;
}

.add-on-option.selected:hover {
    background-color: #8b5a42;
    border-color: #a67a5b;
}

.add-on-option-image {
    height: 2em;
    width: 2em;
}

.add-on-section {
    display: flex;
    flex-direction: column;
}

.add-on-section-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
