.extras-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.4em;
}

.extras-buttons {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
}