.card-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.card-banner-type {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-banner-img {
    height: 2em;
    width: 2em;
    transition: transform 0.3s ease;
}

.card-banner-title {
    padding: 10px;
    font-size: 1em;
}